html {
  background-color: rgb(255, 248, 239);
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: left;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  margin-bottom: 2rem;
}

#fileUpload {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: medium;
}

#error_message_file {
  color: red;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.file-upload-wrapper {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center-align items horizontally */
  gap: 10px; /* Adjust the space between elements as needed */
}

#buttoun_upload {
  font-size: medium;
  padding: 10px 20px;
  background-color: #98adb4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#buttoun_upload:hover {
  background-color: #7b939e;
}

#fileChosen {
  font-size: medium;
  margin-top: 1rem; /* Add some space between the button and the text */
}

#menual_button {
  font-size: medium;
  padding: 10px 20px;
  margin-top: 1rem;
  background-color: #98adb4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#menual_button:hover {
  background-color: rgb(130, 137, 130);
}

#download_View_File {
  font-size: medium;
  padding: 10px 20px;
  margin-top: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#download_View_File:hover {
  background-color: #45a049;
}

span {
  font-weight: bold;
}
