.th-sort-asc::after {
  content: "\25B4"; /* Black up-pointing triangle */
}

.th-sort-desc::after {
  content: "\25BE"; /* Black down-pointing small triangle */
}

html {
  background-color: rgb(255, 248, 239);
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

form div {
  margin-right: 10%;
  margin-left: 2%;
}

form label {
  display: inline-flex; /* Align items in a row */
  align-items: center; /* Center-align items vertically */
  margin-right: 0.8rem;
  white-space: nowrap; /* Prevent wrapping */
  font-size: smaller;
  font-weight: bold;
}

/* Additional Styles for Checkbox */
input[type="checkbox"] {
  margin-right: 0.5rem; /* Space between checkbox and label text */
}

/* Updated table styles */
table {
  background-color: rgb(70, 70, 70);
  color: white;
  margin-top: 1.2rem;
  margin-left: auto; /* Center the table */
  margin-right: auto; /* Center the table */
  font-size: smaller;
  border-collapse: collapse; /* Ensure borders are neat */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Ensure the rounded corners are visible */
}

table th,
table td {
  padding: 0.5rem; /* Add some padding in table cells */
}

#input_submit {
  font-size: large;
  padding: 10px 20px;
  margin-top: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 50%;
}
#input_submit:hover {
  background-color: rgb(14, 160, 58);
}

form p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.toggle-button {
  background-color: transparent; /* Transparent background */
  border: none; /* No border */
  color: black; /* Black text (arrow) */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size for the arrow */
  line-height: 1; /* Align with text */
  vertical-align: middle; /* Vertical alignment with text */
  padding: 2px 5px; /* Padding around the arrow */
  transition: transform 0.3s ease; /* Smooth transition for transform */
}

.toggle-button:hover {
  transform: scale(1.2); /* Slightly enlarge on hover */
}
