.th-sort-asc::after {
  content: "\25B4"; /* Black up-pointing triangle */
}

.th-sort-desc::after {
  content: "\25BE"; /* Black down-pointing small triangle */
}

html {
  background-color: rgb(255, 248, 239);
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

form div {
  margin-right: 10%;
  margin-left: 2%;
}

form label {
  display: inline-flex; /* Align items in a row */
  align-items: center; /* Center-align items vertically */
  margin-right: 0.8rem;
  white-space: nowrap; /* Prevent wrapping */
  font-size: smaller;
  font-weight: bold;
}

/* Additional Styles for Checkbox */
input[type="checkbox"] {
  margin-right: 0.5rem; /* Space between checkbox and label text */
}

table {
  background-color: rgb(94, 94, 94);
  color: white;
  margin-top: 1.2rem;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: smaller;
  text-align: center;
}

#input_submit {
  font-size: large;
  padding: 10px 20px;
  margin-top: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 50%;
}
#input_submit:hover {
  background-color: rgb(14, 160, 58);
}

/* #input_submit {
  font-size: large;
  background-color: rgb(47, 255, 106);
  margin-left: 50%;
  border-radius: 2rem;
  padding: 1.1rem;
  border: 2px solid black;
}
#input_submit:hover {
  background-color: rgb(15, 172, 62);
  border: 2px solid black;
} */

form p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
